<!DOCTYPE html>
<html lang='ja' prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../assets/stylesheet/reset.css">
    <link rel="stylesheet" href="../assets/stylesheet/slider.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="../assets/javascript/slider01.js"></script>
    <title></title>
  </head>
  <body>
    <img id="mypic" src="../assets/images/img_slid_01.jpg" width="400" height="auto">
    <input type="button" value="開始" onclick="slideshow_timer()">
  </body>
</html>
